body {
    margin: 0;
    background: #F4F4F4;
}

.container1 {
    font-family: 'Inter', serif;
    background: #6943FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container1 h1 {
    font-size: 16px;
    color: white;
    margin: 14px;
}

.container1 input {
    background: #6943FF;
    border: 1px solid #B295FF;
    border-radius: 4px;
    margin-bottom: 12px;
    font-family: 'Inter', serif;
    color: white;
    font-size: 26px;
    font-weight: bold;
    width: 80px;
    padding: 6px 12px;
    text-align: center;
}

.container1 button {
    font-family: 'Inter', serif;
    color: black;
    background: white;
    border: none;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 4px;
}

.container2 {
    font-family: 'Inter', serif;
    text-align: center;
    background: #FFFFFF;
    border: none;
    border-radius: 1px;
    margin: 10px 30px;
    padding: 18px;
}

.container2 h2 {
    margin: 0px;
    font-size: 14px;
    color: #5A537B;
}

.container2 p {
    margin: 0;
    font-size: 10px;
    color: #353535;
    text-shadow: 0 0 0.5px black;
    margin-top: 8px;
}